In [1]:
import pandas as pd

In [36]:
df = pd.read_excel('data_set/fcc-new-coder-survey.xlsx', 
                     sheet_name = 0, skiprows = 2)

In [37]:
df.shape

(1000, 98)

In [10]:
data = pd.read_excel('data_set/fcc-new-coder-survey.xlsx', 
                     sheet_name = 0, skiprows = 2,
                    usecols = 'W:AB, AR')

In [11]:
data.head()

,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,Income
0,35.0,United States of America,United States of America,office and administrative support,NaN,Employed for wages,32000.0
1,90.0,United States of America,United States of America,food and beverage,NaN,Employed for wages,15000.0
2,45.0,United States of America,United States of America,finance,NaN,Employed for wages,48000.0
3,45.0,United States of America,United States of America,"arts, entertainment, sports, or media",NaN,Employed for wages,43000.0
4,10.0,United States of America,United States of America,education,NaN,Employed for wages,6000.0

In [13]:
data.shape

(1000, 7)

### multiple sheet

In [28]:
survey_responses = pd.read_excel('data_set/fcc-new-coder-survey.xlsx', sheet_name = None, skiprows = 2)

In [29]:
type(survey_responses)

dict

In [30]:
for key, value in survey_responses.items():
    print(key, type(value))

2016 <class 'pandas.core.frame.DataFrame'>
2017 <class 'pandas.core.frame.DataFrame'>

In [42]:
#combine 2016 and 2017 sheet

#empty dataframe
all_resp = pd.DataFrame()

    
for sheet, data in survey_responses.items():
    data['year'] = sheet
    
    all_resp = all_resp.append(data)

In [43]:
all_resp.shape

(2000, 99)

In [47]:
all_resp['year'].unique()

array(['2016', '2017'], dtype=object)

In [48]:
all_resp['year'].value_counts()

2016    1000
2017    1000
Name: year, dtype: int64