In [1]:
import pandas as pd

In [14]:
data = pd.read_csv('vt_tax_data_2016.csv')

In [15]:
data.shape

(1476, 148)

In [16]:
data.head()

,Unnamed: 0,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,0,50,VT,0,1,111580,85090,14170,10740,45360,...,53660,50699,0,0,0,0,10820,9734,88260,138337
1,1,50,VT,0,2,82760,51960,18820,11310,35600,...,74340,221146,0,0,0,0,12820,20029,68760,151729
2,2,50,VT,0,3,46270,19540,22650,3620,24140,...,44860,266097,0,0,0,0,10810,24499,34600,90583
3,3,50,VT,0,4,30070,5830,22190,960,16060,...,29580,264678,0,0,0,0,7320,21573,21300,67045
4,4,50,VT,0,5,39530,3900,33800,590,22500,...,39170,731963,40,24,0,0,12500,67761,23320,103034

In [22]:
list(data.columns)

['Unnamed: 0',
 'STATEFIPS',
 'STATE',
 'zipcode',
 'agi_stub',
 'N1',
 'mars1',
 'MARS2',
 'MARS4',
 'PREP',
 'N2',
 'NUMDEP',
 'TOTAL_VITA',
 'VITA',
 'TCE',
 'VITA_EIC',
 'RAL',
 'RAC',
 'ELDERLY',
 'A00100',
 'N02650',
 'A02650',
 'N00200',
 'A00200',
 'N00300',
 'A00300',
 'N00600',
 'A00600',
 'N00650',
 'A00650',
 'N00700',
 'A00700',
 'N00900',
 'A00900',
 'N01000',
 'A01000',
 'N01400',
 'A01400',
 'N01700',
 'A01700',
 'SCHF',
 'N02300',
 'A02300',
 'N02500',
 'A02500',
 'N26270',
 'A26270',
 'N02900',
 'A02900',
 'N03220',
 'A03220',
 'N03300',
 'A03300',
 'N03270',
 'A03270',
 'N03150',
 'A03150',
 'N03210',
 'A03210',
 'N03230',
 'A03230',
 'N03240',
 'A03240',
 'N04470',
 'A04470',
 'A00101',
 'N17000',
 'A17000',
 'N18425',
 'A18425',
 'N18450',
 'A18450',
 'N18500',
 'A18500',
 'N18800',
 'A18800',
 'N18300',
 'A18300',
 'N19300',
 'A19300',
 'N19500',
 'A19500',
 'N19530',
 'A19530',
 'N19550',
 'A19550',
 'N19570',
 'A19570',
 'N19700',
 'A19700',
 'N20800',
 'A20800',
 'n21020',
 'a21020',
 'N04800',
 'A04800',
 'N05800',
 'A05800',
 'N09600',
 'A09600',
 'N05780',
 'A05780',
 'N07100',
 'A07100',
 'N07300',
 'A07300',
 'N07180',
 'A07180',
 'N07230',
 'A07230',
 'N07240',
 'A07240',
 'N07220',
 'A07220',
 'N07260',
 'A07260',
 'N09400',
 'A09400',
 'N85770',
 'A85770',
 'N85775',
 'A85775',
 'N09750',
 'A09750',
 'N10600',
 'A10600',
 'N59660',
 'A59660',
 'N59720',
 'A59720',
 'N11070',
 'A11070',
 'N10960',
 'A10960',
 'N11560',
 'A11560',
 'N06500',
 'A06500',
 'N10300',
 'A10300',
 'N85530',
 'A85530',
 'N85300',
 'A85300',
 'N11901',
 'A11901',
 'N11902',
 'A11902']